<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.modules.oversee.issue.mapper.SystemTemplateMapper">

    <select id="selectSystemTemplatePageVo" parameterType="map" resultType="com.chd.modules.oversee.issue.entity.SystemTemplate">
        SELECT st.* ,
               (SELECT realname FROM sys_user su WHERE su.id = st.create_user_id) createUserRealName,
               (SELECT realname FROM sys_user su WHERE su.id = st.update_user_id) updateUserRealName
        FROM system_template st
        WHERE st.data_type = 1
        <if test="map.name!= null "> and st.name LIKE #{map.name}</if>
        ORDER BY st.sort
    </select>

    <select id="selectSystemTemplateList" parameterType="map" resultType="com.chd.modules.oversee.issue.entity.SystemTemplate">
        SELECT st.*
        FROM morphological_categories st
        WHERE st.data_type = 1
        <if test="map.name!= null "> and st.name LIKE #{map.name}</if>
        ORDER BY st.sort
    </select>

    <select id="findByName" parameterType="string" resultType="com.chd.modules.oversee.issue.entity.SystemTemplate">
        SELECT * FROM system_template  WHERE name = #{name}
    </select>


</mapper>
